
<br><br><br>
<h1>Welcome, <%= @user.fullname %>!</h1>
<h4><strong>You are have sucessfully registered. <br><br>Your Profile:</h4>
<p><strong> Full-name: <%= @user.fullname %></p>
<p><strong> Email: <%= @user.email %></p>

<div class="info">

    <% if current_user.admin %>
      <p>Status: ADMIN</p>
      <h2>View all Products <%= link_to "click here", categories_path%></h2>
      <h2>Add Products <%= link_to "click here", new_item_path%></h2>
    <% else %>
    <p>Status: CUSTOMER</p>
       <h2>See Our Products <%= link_to "click here", categories_path%></h2>
    <% end %>

 </div>