</br><br>
<h2>Your Address</h2>


<p><strong><%= @address.street %>, <%= street_extra %>, <%= @address.city %>, <%= @address.postal_code %> , <%= @address.state %> , <%= @address.country %> .</p>

<h6><strong>Receiver:<%= @address.receiver%></h6>

<h6><strong>Phone:<%= @address.phone%></h6>

