
<br><br><br>
<div class="center">
 


  
 
<div class="contaianer">
      <img class="item-img-show" src="<%= (url_for(@item.photo))%>" alt="Item image">
    <div class="row">
      <div class="bg-text">
          <div class="col-md-3">   
              <p><strong> Phone Type: <%= @item.item_name %></p>
              <p><strong> Unit Price: $<%= @item.unit_price %></p>
              <p><strong> Tax: <%= @item.tax %></p>
              <p><strong> Quantity: <%= @item.quantity %></p>
              <p><strong> ISBN: <%= @item.isbn %></p>
              <p><strong> DESCRIPTIONs: <%= @item.desc%></p>
          </div>     
        </div>
   </div>
   
            <% if current_user.admin %>
            <p><%= link_to 'Edit item', edit_item_path(@item) %></p>
            <% else %>
            <%= form_for :categorization, url: '/categorizations/new' do |f| %>
            <%= f.hidden_field :category_id, value: "#{@category.id}" %> 
            <%= f.hidden_field :item_id, value: "#{@item.id}" %>
            <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
            <% end %>
            <% end %>
      
      
      <div class="col-md-6 col-md-offset-3">
          <%= form_for(@item) do |f| %>
              <%= f.select :chosen_quantity, ((0..50).map {|i| [i,i] } << ["No limit",nil]) %>
              <%= f.submit "Add Quantity", class: "btn btn-primary" %>
          <% end %>
     </div>
</div>




<p><%= link_to 'Back To All Items!', categories_path, class: "btn btn-primary btn-light"%></p>

 
 <%= button_to "Add to Cart", add_item_path(:item_id => @item), :method => :post %>