

</br></br></br>

<div class="container">

      <% if @categories.any? && current_user.admin %>
         <% @categories.each do |category|%>
            <h3><%= category.category_name %></h3>
                <% category.items.each do |item| %>
                  <div class="contaianer">
                     <div class="row">
                       <div class="col col-md-3">
                         
                          <img class="item-img-show" src="<%= (url_for(item.photo)) %>" alt="Item image"><br>
                         
                            <strong><%= link_to "#{ item.item_name }", item_path(item) %></strong>
                            <strong><%= number_to_currency(item.unit_price) %></strong><br>
                     
                            <% if author_own(item) && current_user == item.user%> 
                               <%= link_to "Edit", edit_item_path(item) %> |
                               <%= link_to "Delete", item_path(item), method: :delete, data: { confirm: 'Are You Sure?'} %> 
                            <% end %>
                       </div>
                 <% end %>             
         <% end %>
                  </div>
 
      <% elsif @categories.any? && !current_user.admin %>
               <% @categories.each do |category|%>
                  <h3><%= category.category_name %></h3>
                   <% category.items.each do |item| %>
                      <div class="contaianer">
                        <div class="row">
                           <div class="col-md-3">
                             <img class="item-img-show" src="<%= (url_for(item.photo)) %>" alt="Item image"><br>
                              <strong><%= link_to "#{ item.item_name }", item_path(item) %></strong><br>
                              <%= link_to 'Go to Cart', item_path(item) %>
                           </div>
                           
              
                     <% end %>
               <% end %>
                        </div>
                     </div>
               
      
      <% elsif !@categories.any? && current_user.admin %>
            <p><strong>No Item has Been Yet registered! </strong></p>
      <% else %>
            <p><strong>No Item Has Been Yet registered! Come Back Later!</strong></p>
      <% end %>



      <% if current_user.admin %>
         <div class="back-to-preorder-oder"><h4><strong> <%= link_to 'Add New Items', new_item_path, class: "btn btn-primary btn-light"%></h4></div>
      <% end %>
         </div>
</div>

<div class="back-to-preorder">
    <% if (session[:cart] && !session[:cart].empty?) && !current_user.admin %>
        <%= link_to 'Finish up you previous order', items_path, class: "btn btn-primary btn-light"%>
   <% end %>
</div>

        
