
</br></br></br>


      <% if @category.any? && current_user.admin %>
         <% @category.each do |category|%>
            <h3>Category:<%= category.category_name %></h3>
               <% category.items.each do |item| %>
                <table class="table table-dark">
                    <thead>
                    <tr>
                       
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Remaining</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                   
                    <td> <strong><%= item.item_name %></strong></td>
                    <td> <strong><%= number_to_currency(item.unit_price) %></strong></td>
                    <td> <strong><%= item.quantity %></strong></td>
                    <td> <strong><%= item.quantity - item.chosen_quantity %></strong></td>
                
                    <% if author_own(item) && current_user.admin %> 
                       <td> <%= link_to "Edit", edit_item_path(item) %> | <%= link_to "Delete", item_path(item), method: :delete, data: { confirm: 'Are You Sure?'} %> </td>
                     <% end %>
                    </tr>
                </tbody>
                </table>
                 <% end %>
         <% end %>
                
      <% elsif !@categories.any? && current_user.admin %>
            <p><strong>No Item has Been Yet registered! </strong></p>
            <h4><strong> <%= link_to 'Add New Items', new_item_path %></h4>
      <% end %>






